//About page styles
.about-page {
  h1 {
    margin: 10px 0;
    text-transform: capitalize;
    color: #64d5ca;
  }
  .about-body {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #64d5ca;
    color: white;
  }
}