//Home page styles
.home-page {
  h1 {
    margin: 10px 0;
    text-transform: capitalize;
    color: #4aa0e6;
  }
  .home-body {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #4aa0e6;
    color: white;
  }
}